.tooltip {
  line-height: 20px;

  @include shadow-md;

  &.#{$prefix}tooltip-top {
    bottom: -1px !important;
  }
  &.#{$prefix}tooltip-end {
    top: 1px !important;
    left: -1px !important;
  }
  &.#{$prefix}tooltip-bottom {
    top: -1px !important;
  }
  &.#{$prefix}tooltip-start {
    top: 1px !important;
    right: -1px !important;
  }
}

.tooltip-inner {
  text-align: initial;

  .tooltip-wide & {
    max-width: unset;
  }
}

/* Dark mode tooltip styles */
.editor-dark-mode {
  .tooltip {
    .tooltip-inner {
      background-color: var(--bg-dark-secondary) !important;
      color: var(--content-primary-dark) !important;
      border: 1px solid var(--border-primary-dark) !important;
    }
  }
}

body:not(.editor-dark-mode) {
  .tooltip {
    .tooltip-inner {
      background-color: var(--bg-light-primary) !important;
      color: var(--content-primary) !important;
      border: 1px solid var(--border-primary) !important;
    }
  }
}
