/* Website redesign - Dark Mode & Red Theme */
$vivid-tangerine: #f1a695;
$ceil: #9597c9;
$caramel: #f9d38f;
$dark-jungle-green: #1a0a0a;
$sapphire-blue: #4354a3;
$sapphire-blue-dark: #3c4c93;
$purple-bright: #939aff;
$green-bright: #dc2626;

:root {
  --vivid-tangerine: #{$vivid-tangerine};
  --ceil: #{$ceil};
  --caramel: #{$caramel};
  --dark-jungle-green: #{$dark-jungle-green};
  --sapphire-blue: #{$sapphire-blue};
  --sapphire-blue-dark: #{$sapphire-blue-dark};
  --green-bright: #{$green-bright};
  --purple-bright: #{$purple-bright};
  --red-bright: #{$green-bright};
}
