extends ../layout-marketing

block content
	#main-content.content.content-alt
		.container
			.row
				.col-sm-12
					.card
						.card-body
							.page-header
								h1 About Overleaf

							.row-spaced
								h3 Version Information
								
								.table-responsive
									table.table.table-striped
										tbody
											tr
												th Overleaf Version
												td #{version}
											tr
												th Node.js Version
												td #{nodeVersion}
											tr
												th Environment
												td #{process.env.NODE_ENV || 'development'}

							hr

							.row-spaced
								h3 System Information
								p This is an Overleaf Community Edition instance.
								
								if process.env.OVERLEAF_SITE_URL
									p 
										strong Site URL: 
										| #{process.env.OVERLEAF_SITE_URL}

							hr

							.row-spaced
								a.btn.btn-secondary(href='/admin') ← Back to Admin Panel

